---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Blog from "../components/Blog.astro";
import Technologies from "../components/Technologies.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Keith Esclavon">
  <main class="text-slate-800">
    <Hero />
    <Blog />
    <Technologies />
    <Projects />
  </main>

  <style>
    main {
      margin: auto;
      padding-block: 0.5rem;
      width: 800px;
      max-width: calc(100% - 1rem);
      font-size: 20px;
      line-height: 1.6;
    }
  </style>
</Layout>
