---
interface Props {
  image: string;
  title: string;
  body: string;
}

const { image, title, body } = Astro.props;
---

<div class="flex gap-4 flex-col md:flex-row">
  <img
    src={image}
    alt={title}
    class="w-[200px] h-[120px] md:order-1"
  />
  <div class="flex flex-col gap-2 order-1 md:order-2">
    <h2
      class="text-lg font-semibold text-red-700 hover:text-red-500 group flex items-center"
    >
      {title}
      <span 
      class="ml-2 transform transition-transform duration-300 group-hover:translate-x-1 group-hover:-translate-y-1 color:red-500"
      style="background: none !important;"
    >
      &nearr;
    </span>
    </h2>
    <p class="text-gray-700 leading-6 text-base">{body}</p>
  </div>
</div>
