---
import ProjectCard from "../components/ProjectCard.astro";
import myportProject from "../assets/images/myportProject.png";
import ytExtension from "../assets/images/ytExtension.png";
import bandSwitcher from "../assets/images/bandSwitcher.png";
import addressViewer from "../assets/images/addressViewer.png";
---


<div class="mt-10 w-full">
    <h1 class="text-xl mb-6 text-left lg:text-left font-semibold">
      Projects I've Worked On
    </h1>
    <div class="flex flex-col gap-8 mb-8">
      <ProjectCard
        image={myportProject.src}
        title="keithesc.com (v1)"
        body="A portfolio website for myself. This is the first version of my portfolio website. It was built with Astro, Tailwind, and TypeScript. It is hosted on Vercel."
      />
    </div>
    <div class="flex flex-col gap-8 mb-8">
      <ProjectCard
        image={ytExtension.src}
        title="YouTube Curator Chrome Extension"
        body="Chrome extension that allows you to curate YouTube videos by selecting 'Not interested' or 'Don't recommend' when scrolling over the views line of the video preview."
      />
    </div>
    <div class="flex flex-col gap-8 mb-8">
      <ProjectCard
        image={bandSwitcher.src}
        title="WiFi Band Switcher"
        body="GUI application that allows you to switch between WiFi bands on Windows. It is built with Python and changes the registry to switch the WiFi band."
      />
    </div>
    <div class="flex flex-col gap-8 mb-8">
      <ProjectCard
        image={addressViewer.src}
        title="Address Viewer"
        body="React application that allows you to view a photo of an address. It uses Playwright to pull the images. Working on backend to allow for features like saving notes and ratings."
      />
    </div>
  </div>