---
import { Icon } from "astro-icon/components";
---
<div class="mt-10">
<h1 class="text-xl mb-6 text-center lg:text-left">
  Technologies I Use
</h1>
<div class="border-2 border-[#899AB3] p-6 bg-zinc-800">
  <div class="flex flex-wrap text-[1.3rem] gap-6 justify-center space-between">
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="react"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-[1.2rem]">React</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon name="npm" class="filter hidden:drop-shadow-[0px_8px_10px_black]" />
      <span class="font-serif text-[1.2rem]">npm</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="tailwind"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-[1.2rem]">Tailwind</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon name="git" class="filter hidden:drop-shadow-[0px_8px_10px_black]" />
      <span class="font-serif text-[1.2rem]">Git</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="astro"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-[1.2rem]">Astro</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="vscode"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-[1.2rem]">VSCode</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="docker"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-[1.2rem]">Docker</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="html"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-[1.2rem]">HTML</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon name="css" class="filter hidden:drop-shadow-[0px_8px_10px_black]" />
      <span class="font-serif text-[1.2rem]">CSS</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="javascript"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-[1.2rem]">JavaScript</span>
    </div>
  </div>
</div>
</div>
