---
import { Icon } from "astro-icon/components";
---
<div class="mt-10">
<h1 class="text-xl mb-6 text-left lg:text-left font-semibold">
  Technologies I Use
</h1>
<div>
  <div class="flex flex-wrap text-[1.3rem] gap-6 space-between text-dark">
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="react"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-base">React</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon name="npm" class="filter hidden:drop-shadow-[0px_8px_10px_black]" />
      <span class="font-serif text-base">npm</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="tailwind"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-base">Tailwind</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon name="git" class="filter hidden:drop-shadow-[0px_8px_10px_black]" />
      <span class="font-serif text-base">Git</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="astro"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-base">Astro</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="vscode"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-base">VSCode</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="html"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-base">HTML</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon name="css" class="filter hidden:drop-shadow-[0px_8px_10px_black]" />
      <span class="font-serif text-base">CSS</span>
    </div>
    <div
      class="transition-transform transform hover:scale-125 flex items-center gap-2"
    >
      <Icon
        name="javascript"
        class="filter hidden:drop-shadow-[0px_8px_10px_black]"
      />
      <span class="font-serif text-base">JavaScript</span>
    </div>
  </div>
</div>
</div>
